{% extends 'base.html' %}

{% block title %}Fantasy Web - Home{% endblock %}

{% block content %}
{% load static %}
<script src="{% static 'js/home.js' %}"></script>
<link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">

<div class="container">
	<div class="pb-2 mt-4 mb-2 border-bottom"><h2>Leagues</h2></div>
	<button class="btn btn-primary create-league-btn" data-toggle="modal" data-target="#modal-create-league">Create League</button>
	<br />
	<br />
	<table id="leagues-table" class="table table-striped table-bordered dataTable">
		<thead>
			<tr>
				<th>League Name</th>
				<th>Team Name</th>
				<th>Members</th>
			</tr>
		</thead>
		<tbody>
			{% for league_data in leagues %}
			<tr>
				<td><a style="text-decoration: underline;" href="/league/{{ league_data.league_id }}">{{ league_data.league_name }}</a></td>
				<td>{{ league_data.team_name }}{% if league_data.is_commish %} (C){% endif %}</td>
				<td>{{ league_data.owner_limit }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="modal fade" id="modal-create-league" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Create a League</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST">
            	{% csrf_token %}
	            <div class="modal-body mx-3">
	                <div class="md-form mb-5 form-group">
	            		<label data-error="wrong" data-success="right" for="league-name"><b>League Name</b></label>
	                	<input type="text" id="league-name" class="form-control validate" placeholder="League Name" required>
	                </div>

	                <div class="md-form mb-4 form-group">
	                	<label data-error="wrong" data-success="right" for="num-players"><b>Total Number of Players</b></label>
	                    <input type="number" id="num-players" class="form-control validate" min="2" value="10" max="32" required>
	                </div>

	            </div>
	            <div class="modal-footer d-flex justify-content-center">
	                <input type="submit" class="btn btn-primary" value="Create" />
	            </div>
	        </form>
        </div>
    </div>
</div>
{% endblock %}
