{% extends 'base_league.html' %}

{% block league_content %}
{% load static %}

<div id="content">
	<p>Settings</p>
</div>

<div class="container">
	<div class="card">
		<div class="card-header text-white bg-secondary">
			Draft Settings
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-2">
					Draft Type:
				</div>
				<div class="col-10">
					{% if league_settings.league_type == "Dutch Auction" %}
						Dutch Auction - Nominate players for blind auction.  At the end of the bidding period,
						the winning owner receives the player at the cost of the 2nd place bid plus $1.
					{% endif %}
				</div>
			</div>
			<hr/>
			<div class="row">
				{% if 'salary_cap' in league_settings  %}
					<div class="col-3 d-flex justify-content-left">
						Salary Cap: {{ league_settings.salary_cap }}
					</div>
				{% endif %}
				{% if 'max_contract_years' in league_settings  %}
					<div class="col-3 d-flex justify-content-left">
						Maximum Contract Years:
						{% if league_settings.max_contract_years == "-1" %}
							No Limit
						{% else %}
							{{ league_settings.max_contract_years }}
						{% endif %}
					</div>
				{% endif %}
				{% if 'draft_period' in league_settings  %}
					<div class="col-3 d-flex justify-content-left">
						Draft Period: {{ league_settings.draft_period }}
					</div>
				{% endif %}
				{% if 'nominations_per_period' in league_settings  %}
					<div class="col-3 d-flex justify-content-left">
						Nominations Per Draft Period: {{ league_settings.nominations_per_period }}
					</div>
				{% endif %}
			</div>
			<hr/>
			<div class="row">
				<div class="col-sm-6">
					Draft Start Time:
					{% if league_settings.draft_time is not None %}
						<div id="draft_time_value">{{ league_settings.draft_time }}</div>
					{% else %}
						Not yet set
					{% endif %}
				</div>
				<div class="col-sm-6">
					{% if league_settings.draft_time is not None %}
						Time Until Draft:
					{% endif %}
					<div id="time_until_draft"></div>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="card">
		<div class="card-header text-white bg-secondary">
			Roster Settings
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-2">
					Starting Lineup:
				</div>
				<div class="col-10">
					{% if league_settings.starting_qb_count != "0" %}
						{{ league_settings.starting_qb_count }} QB
					{% endif %}
					{% if league_settings.starting_rb_count != "0" %}
						, {{ league_settings.starting_rb_count }} RB
					{% endif %}
					{% if league_settings.starting_wr_count != "0" %}
						, {{ league_settings.starting_wr_count }} WR
					{% endif %}
					{% if league_settings.starting_te_count != "0" %}
						, {{ league_settings.starting_te_count }} TE
					{% endif %}
					{% if league_settings.starting_k_count != "0" %}
						, {{ league_settings.starting_k_count }} K
					{% endif %}
					{% if league_settings.starting_def_count != "0" %}
						, {{ league_settings.starting_def_count }} DEF
					{% endif %}
					{% if league_settings.starting_db_count != "0" %}
						, {{ league_settings.starting_db_count }} DB
					{% endif %}
					{% if league_settings.starting_lb_count != "0" %}
						, {{ league_settings.starting_lb_count }} LB
					{% endif %}
					{% if league_settings.starting_DL_count != "0" %}
						, {{ league_settings.starting_DL_count }} DL
					{% endif %}
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-2">
					Roster Limits:
				</div>
				<div class="col-10">
					{% if league_settings.max_qb_count != "0" %}
						{{ league_settings.max_qb_count }} QB
					{% endif %}
					{% if league_settings.max_rb_count != "0" %}
						, {{ league_settings.max_rb_count }} RB
					{% endif %}
					{% if league_settings.max_wr_count != "0" %}
						, {{ league_settings.max_wr_count }} WR
					{% endif %}
					{% if league_settings.max_te_count != "0" %}
						, {{ league_settings.max_te_count }} TE
					{% endif %}
					{% if league_settings.max_k_count != "0" %}
						, {{ league_settings.max_k_count }} K
					{% endif %}
					{% if league_settings.max_def_count != "0" %}
						, {{ league_settings.max_def_count }} DEF
					{% endif %}
					{% if league_settings.max_db_count != "0" %}
						, {{ league_settings.max_db_count }} DB
					{% endif %}
					{% if league_settings.max_lb_count != "0" %}
						, {{ league_settings.max_lb_count }} LB
					{% endif %}
					{% if league_settings.max_DL_count != "0" %}
						, {{ league_settings.max_DL_count }} DL
					{% endif %}
				</div>
			</div>
			<hr/>
			{% if "flex_1" in league_settings %}
				<div class="row">
					<div class="col-2">
						Flex 1:
					</div>
					<div class="col-10">
						{{ league_settings.flex_1 }}
					</div>
				</div>
			{% endif %}
			{% if "flex_2" in league_settings %}
				<div class="row">
					<div class="col-2">
						Flex 2:
					</div>
					<div class="col-10">
						{{ league_settings.flex_2 }}
					</div>
				</div>
			{% endif %}
			{% if "flex_3" in league_settings %}
				<div class="row">
					<div class="col-2">
						Flex 3:
					</div>
					<div class="col-10">
						{{ league_settings.flex_3 }}
					</div>
				</div>
			{% endif %}
			{% if "flex_4" in league_settings %}
				<div class="row">
					<div class="col-2">
						Flex 4:
					</div>
					<div class="col-10">
						{{ league_settings.flex_4 }}
					</div>
				</div>
			{% endif %}
			{% if "flex_5" in league_settings %}
				<div class="row">
					<div class="col-2">
						Flex 5:
					</div>
					<div class="col-10">
						{{ league_settings.flex_5 }}
					</div>
				</div>
			{% endif %}
			<hr/>
			<div class="row">
				<div class="col-6">
					Total Roster Limit: {{ league_settings.roster_size }}
				</div>
				<div class="col-6">
					Injured Reserved Limit: {{ league_settings.ir_size }}
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="card">
		<div class="card-header text-white bg-secondary">
			Scoring Settings
		</div>
		<div class="card-body">
			Coming Soon
		</div>
	</div>
</div>

<script src="{% static 'js/league_draft_start_timer.js' %}"></script>
{% endblock %}
